body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }

  .login-panel {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .login-panel h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;
  }
  .form-group p{
    color:rgb(233, 11, 11);
    font-style: italic;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input[type="text"] {
    width: 94%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .form-group input[type="button"] {
    background-color: #4954bb;
    color: #fff;
    padding: 6px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
