<app-navigation (onChanged)="onChanged($event)"></app-navigation>


<app-apod *ngIf="category=='apod'"></app-apod>
<app-asteroids *ngIf="category=='asteroids'"></app-asteroids>
<app-earth *ngIf="category=='earth'"></app-earth>
<app-mars *ngIf="category=='mars'"></app-mars>
<app-epic *ngIf="category=='epic'"></app-epic>


<div class="login-panel" *ngIf="getToken().length==0">
  <h2>Authorization Panel</h2>
  <form id="login-form">
    <div class="form-group">
      <label for="api-key">API-Key:</label>
      <input type="text" id="api-key" name="api-key" required #authkey>
      <p>{{errMsg}}</p>
    </div>
    <div class="form-group">
      <input type="button" value="Enter" (click)="AuthUser(authkey.value)">
    </div>
  </form>
</div>
