<h1>Astronomy Picture of the Day</h1>

  <div class="apod-form">
    <form id="apod-form">
      <label for="apod-date">Date:</label>
      <input type="date" id="apod-date" name="apod-date" required [(ngModel)]="selectedDate">

      <input type="button" value="Search" (click)="getFromApi()">
    </form>
  </div>

  <div class="apod-image" id="apod-image"><img src="{{image}}" alt=""></div>
  <div class="apod-title" id="apod-title">{{title}}</div>
  <div class="apod-explanation" id="apod-explanation">{{explanation}}</div>
