h1 {
    text-align: center;
  }

  .apod-form {
    max-width: 500px;
    margin: 0 auto;
  }

  .apod-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .apod-form input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .apod-form input[type="button"] {
    background-color: #5149bb;
    color: #fff;
    padding: 6px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .apod-image {
    margin:0 auto;
    text-align: center;
    margin-top: 20px;
  }

  .apod-image img {
    max-width: 500px;
    height: auto;
  }

  .apod-title {
    margin:0 auto;
    text-align: center;
    width:300px;
    margin-top: 10px;
    font-weight: 900;
  }

  .apod-explanation {
    margin:0 auto;
    margin-top: 10px;
    width:300px;
  }