<div class="navbar">
    <div class="navbar-logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/2449px-NASA_logo.svg.png" alt="NASA Logo">
      <div class="navbar-title">NASA Manager</div>
    </div>
    <div class="navbar-menu" *ngIf="getToken().length!=0">
      <div class="navbar-menu-item" (click)="ChageCategory('apod')">APOD</div>
      <div class="navbar-menu-item" (click)="ChageCategory('asteroids')">Asteroids</div>
      <div class="navbar-menu-item" (click)="ChageCategory('earth')">Earth</div>
      <div class="navbar-menu-item" (click)="ChageCategory('mars')">Mars</div>
      <div class="navbar-menu-item" (click)="ChageCategory('epic')">Epic</div>
    </div>
</div>