<div class="asteroids-form">
  <h1>Asteroids</h1>

  <div class="form-group">
    <label for="start-date">Start Date:</label>
    <input type="date" id="start-date" [(ngModel)]="startDate" required>
  </div>

  <div class="form-group">
    <label for="end-date">End Date:</label>
    <input type="date" id="end-date" [(ngModel)]="endDate" required>
  </div>

  <button (click)="searchAsteroids()">Search</button>

  <div *ngIf="asteroidsData && asteroidsData.length > 0" class="asteroids-container">
    <h3>Asteroids:</h3>
    <table border="1">
      <tr>
        <td>Name</td>
        <td>Close Approach Date</td>
      </tr>
      <tr *ngFor="let asteroid of asteroidsData">
        <td>{{ asteroid.name }}</td>
        <td>{{ asteroid.near_earth_objects }}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="asteroidsData && asteroidsData.length === 0" class="no-asteroids">
    No asteroids found for the selected dates.
  </div>
</div>
